.header-nav {
	background-color: $c-gray-dark;
	padding: 0 20px;

	.menu {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 20px;

		&-item {
			padding: 0 10px;

			a {
				font-size: $fs-sm;
				font-weight: $fw-bold;
				line-height: 40px;
				color: $c-black;

				&:hover {
					color: $c-white
				}
			}
		}
	}
}