// Font families.
$ff: Inter, sans-serif;
$ff-alt: Roboto, sans-serif;

// Font sizes.
$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;

// Font weights.
$fw-regular: 400;
$fw-bold: 700;

// Line heights.
$lh: 1.22;
$lh-title: 1.2;