// Breakpoints.
$xs: 375px;
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1366px;

// Container width according to the breakpoints.
$container-padding: 15px;
$container-md: calc(720px + $container-padding * 2);
$container-lg: calc(960px + $container-padding * 2);
$container-xl: calc(1200px + $container-padding * 2);

$spacer: 30px;